*{
    margin: 0px;
    padding: 0px;
}
.parant{
    margin-left: auto;
    margin-right: auto;
}
.red {
    color: lightcoral;
}

.green {
    color: lightgreen;
}

.blue {
    color: skyblue;
}

.list-group {
    font-size: 1.5rem;
}
.row{
    justify-content: center;
}

.fill{
    color: white;
    background-color:lightgreen;
    border-radius: 50%;
}
.show{display: block;}
.hide{display: none;}

